<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="http://localhost:8080">
    <title>{{.Title}}</title>

    <link rel="apple-touch-icon" sizes="120x120" href="resources/images/favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="resources/images/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="resources/images/favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="resources/images/favicon.png">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    {{block "style_src" .}}
    <!-- font awesome -->
    <link rel="stylesheet" href="resources/css/fontawesome.min.css">
    <link rel="stylesheet" href="resources/css/all.min.css">
    <link rel="stylesheet" href="resources/css/owl.carousel.min.css">
    <link rel="stylesheet" href="resources/css/owl.theme.default.min.css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/main.css">

    {{end}}

  </head>
  <body>


  
    {{block "topMenu" .}} {{end}}


    <!-- mobile menu start -->
    {{block "mobile_menu" .}} {{end}}
    <!-- mobile menu end -->


    <!-- banner -->
    {{block "banner" .}} {{end}}


    {{block "custom" .}} {{end}}


    <!-- footer    -->
    {{block "footer" .}} {{end}}


    {{block "script_src" .}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="resources/js/jquery.waypoints.min.js"></script>
    <script src="resources/js/jquery.counterup.min.js"></script>
    <script src="resources/js/owl.carousel.min.js"></script>
    <script src="resources/js/all.min.js"></script>

    {{end}}
    

    {{block "script" .}}

    <script>
      function openNav3() {document.getElementById("mySidepanel3").style.width = "70%";}
      function closeNav3() {document.getElementById("mySidepanel3").style.width = "0";}

      // client slider
        $(document).ready(function() {
        $('#partner-logos').owlCarousel({
            loop:true,
            margin:50,
            nav:true,
            responsive:{
                0:{
                    items:2
                },
                600:{
                    items:3
                },
                1000:{
                    items:5
                }
            },
            navText: ["<img src='resources/images/av8a49a4f81c3318dc69d.png'/>","<img src='resources/images/avcc910c4ee5888b858fe.png'/>"]
        });
      });

      // client reviews
      $(document).ready(function() {
        $('#clientfeedback').owlCarousel({
            loop:true,
            autoplay:true,
            autoplaySpeed:2000,
            margin:35,
            nav:true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:2
                },
                1000:{
                    items:3
                }
            },
            navText: ["<img src='' class='fas fa-angle-left'/>","<img src='' class='fas fa-angle-right'/>"]
        });
      });

      // Subscribe form-control
      const button = document.querySelector('.btn')
      const form   = document.querySelector('.form')

      button.addEventListener('click', function() {
         form.classList.add('form--no') 
      });

      //counter up
      jQuery(document).ready(function( $ ) {
        $('.counter').counterUp({
            delay: 10,
            time: 1000
        });
      });

      // menu active
      $(function(){
        $('.menulist a').filter(function(){return this.href==location.href}).parent().addClass('menu-active').siblings().removeClass('menu-active');
      });

      // how to use active
      var selector = '.tab_btn .tab_btn_btn';
      $(selector).on('click', function(){

          $(selector).removeClass('active');
          $(this).addClass('active');
      });

      $(document).on('click', '.map-point-sm', function() {
        var show = $(this).data('show');
        $(show).removeClass("hide").siblings().addClass("hide");
      });

      //var scroll = new SmoothScroll('a[href*="#"]:not([data-easing])');
      //if (document.querySelector('[data-easing]')) {
      //  var easeInQuad = new SmoothScroll('[data-easing="easeInQuad"]', {easing: 'easeInQuad'});
      //}

    </script>

    {{end}}
    
  </body>
</html>