
    {{define "custom"}}

        <!-- text section -->
        {{block "text_section" .}} {{end}}


        <!-- how it works -->
        {{block "how_works" .}} {{end}}
        

        <!-- client feedback -->
        {{block "customer_stories" .}} {{end}}

        <!-- counter -->
        {{block "counter" .}} {{end}}
        
        <!-- partnership section -->
        {{block "partnership" .}} {{end}}

    {{end}}